name: Xray Config Collector

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true

      - name: Fix Dependencies
        run: |
          go mod tidy
          go mod download

      - name: Run Collector
        run: go run main.go

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update configs $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
