name: Collector
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Download GeoIP Database
      run: |
        wget -q https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-Country.mmdb -O Country.mmdb

    - name: Build and run Collector
      run: |
        # Initialize and tidy up dependencies
        go mod init github.com/justVisiting992/xray-Config-Collector || true
        go mod tidy
        go build -o myapp main.go
        # Running the app (it now accepts the -sort flag we added)
        ./myapp -sort
    
    - name: Generate Workflow Summary
      if: always()
      run: |
        if [ -f summary.md ]; then
          cat summary.md >> $GITHUB_STEP_SUMMARY
        fi

    - name: Commit and Push Changes
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        # Add the generated text files
        git add *.txt
        # Only commit if there are actual changes to the files
        git diff --quiet && git diff --staged --quiet || (git commit -m "✔️ $(date '+%Y-%m-%d %H:%M:%S') Collected" && git push origin main)
